body{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 50px;
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

.axis path,
.axis line { 
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.tooltip{
  position:fixed;
  display:none;
  font-family: sans-serif;
font-size: 11px;
background-color: #333;
color: aliceblue;
border: 0px;
border-radius: 8px;
pointer-events: none;
text-align: center;
border-style: groove;
padding: 10px;
opacity: .65;
}
.legend-text{
    font-size: 10px; 
    font-family: sans-serif; 
    fill: rgb(128, 128, 128);
}